* {
    margin: 0;
    padding: 0;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

body {
    background: #fffffa;
}

header {
    width: 100%;
    overflow: hidden;
    background: #343a40 !important;
    margin-bottom: 20px;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header .logo {
    color: #f2f2f2;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 200px;
    float: left;
}

header nav {
    float: right;
    line-height: 200px;
}

/*header nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}*/

.header2 nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

header nav a:hover {
    background: #36689b;
    border-radius: 50px;
}

.header2 {
    position: fixed;
    height: 100px;
    z-index: 2;

}

.header2 .logo {
    line-height: 100px;
    font-size: 30px;
}

.header2 nav {
    line-height: 100px;
}

.header2 .img-soporte {

    width: 200px;

}

/*.img-soporte{
    width: 40px;
}*/

/*.contenido{
    padding-top: 100px;
}*/

.contenido p {
    margin-bottom: 1em;
}

@media screen and (max-width: 950px) {

    header .logo,
    header nav {
        width: 100%;
        text-align: center;
        line-height: 100px;
    }

    .header2 {
        height: auto;
    }

    .header2 .logo,
    .header2 nav {
        line-height: 50px;
    }

}



/*@media screen and (max-width: 1500px) {
    #section1 {
        height: 170px;
        background-color: #000;
    }

    #section1 .img-mac{
        width: 250px;
    }
    #section1 .pmac{
        
        font-size: 15px;
}
    #section1 .pdesc{     
            font-size: 20px;   
    }

    #section1 .container{
        width: 100%;
        padding-right: 20%;
        padding-left: 20%;
    }

    #section1  .centrado{
        float: right;
        width: 300px;
        height: 150px;
        padding-top: 30px;
    
    }
}*/



.carrusel {
    padding-top: 100px;
    background-attachment: fixed;
    z-index: 1;
    margin: auto;
}

.bg-dark {
    background-color: #000;
}

.container {
    width: 100%;
    padding-right: 20%;
    padding-left: 24%;
    height: 370px;


}

.img-mac {
    width: 500px;

}

.centrado {
    float: right;
    width: 500px;
    padding-top: 60px;
}

.lineado {
    line-height: 10px;
}

.pmac {
    font-size: 20px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.pdesc {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 35px;
}


.btn-info {
    background: #000;
    border: 1px solid #ffffff;
    width: 250px;
    text-align: center;
    border-radius: .25rem;
}

/*.container a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 20px;
}*/
#section1 .centrado a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 20px 20px 20px 20px;
}

#section1 .centrado a:hover {
    background: #36689b;
    border: 1px solid #36689b;
}


.bg-light {
    background-color: #f3f3f3;
}

.img-sam {
    width: 550px;
    margin-top: 50px;
}

.container1 {
    width: 100%;
    padding-right: 17%;
    padding-left: 25%;
    height: 450px;

}

.psam {
    font-size: 20px;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.pdescsam {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    font-size: 35px;
}

.centrado1 {
    float: right;
    width: 550px;
    padding-top: 100px;
}

.btn-info-sam {
    background: #fff;
    border: 1px solid #000;
    width: 250px;
    text-align: center;
    border-radius: .25rem;
}

/*.container1 a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 20px;
}*/
#section2 .centrado1 a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 20px 20px 20px 20px;
}

#section2 .centrado1 a:hover {
    background: #36689b;
    border: 1px solid #36689b;
    color: #fff;
}













/*CODIGO DE SECTION FALLIDO*/





.justify-content-center {
    /*-ms-flex-pack: center !important;*/
    justify-content: center !important;
}

.m40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.row {
    /*display: -ms-flexbox;*/
    display: flex;
    /*-ms-flex-wrap: wrap;*/
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}

.text-center {
    text-align: center !important;
}

.pcont {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    font-size: 30px;
}

.bg-celeste {
    background-color: #f4f4f6;

}

.radios1 {
    border-radius: 25px;
}

@media(min-width: 768px){
.col-md-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;}
}

/*.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}*/


.figura {
    position: relative;
    /*width: 360px;*/
    max-width: 100%;
    display: inline-block;
}

.figura img.img-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

/*.contenedor .figura  a:hover{
    background: #36689b;
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 20px 20px 20px 20px;

}*/


.container2 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.m1510 {
    margin: 15px 0 -10px;
}

.font10 {
    font-size: 10pt;
}

.bg-celeste a {
    color: #000;
    text-decoration: none !important;
}

.a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.font8 {
    font-size: 8pt;
}

.col-md-1 {
    /*-ms-flex: 0 0 8.333333%;*/
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

/*.Contenedor{
    width: 500px;
    float: right;
}*/

/*FIN DEL SECTION FALLIDO*/